@using MVCLibrary.Models.Entities
@model List<TBLMOVE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MYLayout.cshtml";
}

<h2>ALINAN KİTAPLAR</h2>

<table class="table table-striped">
    <tr style="background-color: rgb(252,178,22)">
        <th>İŞLEM ID</th>
        <th>KİTAP ADI</th>
        <th>ÜYE ADI</th>
        <th>PERSONEL ADI</th>
        <th>ALIŞ TARİH</th>
        <th>IADE TARİH</th>
        <th>IADE ET:</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.TBLBOOK.NAME</td>
            <td>@item.TBLMEMBERS.NAME </td>
            <td>@item.TBLEMPLOYEE.EMPLOYEE</td>
            <td>@Convert.ToDateTime(item.PURCHASEDATE).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(item.ISSUEDATE).ToString("dd/MM/yyyy")</td>
            <td><a href="/Loan/LoanGivingBack/@item.ID" class="btn btn-default" style="background-color:#f54cf7;color:white">DETAYLAR</a></td>
        </tr>
    }
</table>
<a href="/Book/AddBook" class="btn btn-primary">Yeni Kitap Ekle</a>
<div class="tenor-gif-embed" data-postid="7357117673706481234" data-share-method="host" data-aspect-ratio="1.76596" data-width="100%"><a href="https://tenor.com/view/demon-slayer-kimetsu-no-yaiba-swordsmith-village-kizuna-no-kiseki-hinokami-kagura-gif-7357117673706481234">Demon Slayer Kimetsu No Yaiba GIF</a>from <a href="https://tenor.com/search/demon+slayer-gifs">Demon Slayer GIFs</a></div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
